Package: com.psychobird.revelarios
Name: RevelariOS
Version: 2.0.0
Architecture: iphoneos-arm
Description: An app and CLI tool for scanning memory through bytes arrays or strings. Type 'revelarios' in a Terminal app for the CLI version. Source code + SearchKit for developers available at https://github.com/PsychoBird/RevelariOS/
Maintainer: PsychoBird
Author: PsychoBird
Section: Utilities
